/* 
 * Privaugarder Formatting
 *
 * @author Sedona Thomas
 */

body {
  background-color: #ffffff;
  margin: 0%;
  border: 0%;
  padding: 0%;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  float: left;
  font-size: 17px;
  color: #000000;
}

header {
  width: 100%;
  display: block;
  margin-bottom: 2%;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

hr {
  background-color: #000000;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #3333ff;
  margin: 1em 0;
  padding: 0;
}
