table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  overflow-x: scroll;
}

.table-wrapper {
  border: 1px solid blue;
  width: 100%;
  height: auto
  overflow: auto;
}

th {
  text-align: left;
}

td {
  vertical-align: middle;
}

th,
td {
  width: auto;
  height: auto;
  padding: 0.25%;
}

tr td:last-child {
  width: 1%;
  white-space: nowrap;
}

table,
th,
td {
  border: 1px solid;
}
