<!doctype html>
<html lang="en">

<head <meta charset="utf-8">

    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Sedona Thomas">
    <meta name="description" content="">
    <meta name=”robots” content=”index,follow”>
    <meta name=”keywords” content=””>
    <link href="../static/main.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="./img/icon.ico">
    <title> Navagetur </title>
</head>

<body>

    <header class="fixed_bar">
        <nav role="navigation">
            <a class="nav_button" href="./">Home</a>
            <a class="nav_button" href="./education.html">Education</a>
            <a class="nav_button" href="./widgets.html">Widgets</a>
        </nav>
    </header>

    <article class="content">

        <section role="main">
            <h1>Keep Track of Your Account Safety Precautions</h1>
            <p>Add your accounts below.</p>
            <p>Click here to clear saved data and set a new password: <a href="./set_password.html">Set Password</a>
            </p>
        </section>

        <section id="account_form">

            <div class="section_box">
                <form method="POST" action="/user_password">
                    <p>
                        <label id="password">
                            Please type your password: <input name="password" type="text" size="20">
                        </label>
                    </p>
                    <input type="submit" value="Password">
                </form>
            </div>

            <div class="section_box">
                <form method="POST" action="/add_account">

                    <p>
                        <label id="site_name">
                            Website Name: <input name="site_name" type="text" size="20">
                        </label>
                    </p>

                    <p>
                        <label id="username">
                            Username: <input name="username" type="text" size="20">
                        </label>
                    </p>

                    <p>
                        <label id="email">
                            Email: <input name="email" type="email">
                        </label>
                    </p>

                    <p>
                        <label id="password">
                            Password: <input name="password" type="text" size="20">
                        </label>
                    </p>

                    <p>
                        <label id="password_change">
                            Date of Last Password Change: <input name="password_change" type="date">
                        </label>
                    </p>

                    <p>
                        <label id="mfa">
                            Multi-Factor Authentication: <input name="mfa" type="checkbox" value="yes">
                        </label>
                    </p>

                    <p>
                        <label id="app_passcodes">
                            Generated App Passcodes: <input name="app_passcodes" type="checkbox" value="yes">
                        </label>
                    </p>

                    <p>
                        <label id="authenticators">
                            Authenticator Devices (separated by commas): <input name="authenticators" type="text"
                                size="50">
                        </label>
                    </p>

                    <p>
                        <label id="keys">
                            Authentication Keys (separated by commas): <input name="keys" type="text" size="50">
                        </label>
                    </p>

                    <p>
                        <label id="phone_numbers">
                            Phone Numbers (separated by commas): <input name="phone_numbers" type="text" size="50">
                        </label>
                    </p>

                    <input type="submit" value="Add Account">
                </form>
            </div>

        </section>

        <hr>

        <section id="account_table">
            <div class="table_wrapper">
                {{table | safe}}
            </div>
        </section>

        <hr>

        <section class="education">

            <h1>Why is this widget important?</h2>
                <p>
                    This widget is important because there are only two reasons people tend to get hacked: flaws in
                    software
                    and flaws in human behavior. We cannot truly change the software so we need to be better about how
                    we
                    handle ourselves and our accounts. This widget is important because it lightens the cognitive load
                    you
                    need to ensure you have sufficient safety measures on all of your accounts. If your accounts aren't
                    properly protected, your credit card could be compromised or your private messages and photographs
                    stolen and shared for all to see. Protecting your communications has never been easier. Over the
                    last
                    half-decade, companies handling our personal data—including the messages we send and the files we
                    upload
                    to the cloud —have realized that encryption can help them as well as their customers. Using
                    encrypted
                    services means that what you're sending is better protected against surveillance and won't be
                    accessible
                    if your device gets lost or stolen
                </p>

                <h2>What do you learn from this widget?</h2>
                <p>
                    You're supposed to learn how to keep track of the security of your accounts and why it is so
                    important
                    to do so. This widget allows users to keep track of a variety of account safety features and see a
                    representative score for how safe the account is. There are a variety of deterrents to increasing
                    the
                    safety of accounts that this widget aims to address. For example, if users have their phone added as
                    a
                    multi-factor authentication device and they are in the process of changing their number or have
                    multiple
                    phones, the user may not know which devices currently rely on each phone number. This application
                    helps
                    to reduce this deterrent by making it easy to add and check the current features of each account.
                    This
                    widget allows users to track website name, username, password, the date of last password change,
                    whether
                    multi-factor authentication is enabled, whether app passcodes have been generated, associated
                    authenticator app devices, associated physical authentication keys, and associated phone numbers.
                    All of
                    these fields are entirely optional and are intended to make the user's experience keeping track of
                    their
                    account information easier. Once account information is inputted, the program calculates the time it
                    would take for the current device to brute force crack the password and calculates a safety score
                    based
                    on how many safety features are enabled for each account. This widget expands upon the current
                    functionality of password managers to motivate users to further increase their online security by
                    reducing their cognitive load when keeping track of and maintaining additional security measures.
                </p>

        </section>

    </article>

    <footer class="fixed_bar">
        <p>This project was created for Barnard's Privacy in a Networked World course by Sedona Thomas and Christian
            Revels-Robinson.</p>
    </footer>

</body>

<script src="../scripts/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/main.js"> </script>

</html>