<!doctype html>
<html lang="en">

<head <meta charset="utf-8">

    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Sedona Thomas">
    <meta name="description" content="">
    <meta name=”robots” content=”index,follow”>
    <meta name=”keywords” content=””>
    <link href="../static/main.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="./img/icon.ico">
    <title> Navagetur </title>
</head>

<body>

    <header class="fixed_bar">
        <nav role="navigation">
            <a class="nav_button" href="./">Home</a>
            <a class="nav_button" href="./education.html">Education</a>
            <a class="nav_button" href="./widgets.html">Widgets</a>
        </nav>
    </header>

    <article class="content">

        <section id="home" role="main">
            <h1>Citations</h1>
        </section>

        <div class="csl-bib-body" style="line-height: 2; margin-left: 2em; text-indent:-2em;">
            <div classname="csl-entry">
                <div class="csl-entry">Bandara, P. L. M. Kelani, et al. “Evaluation of Re-Identification Risks in Data
                    Anonymization Techniques Based on Population Uniqueness.” <i>2020 5th International Conference on
                        Information Technology Research (ICITR)</i>, 2020, pp. 1–5. <i>IEEE Xplore</i>,
                    https://doi.org/10.1109/ICITR51448.2020.9310884.</div>
            </div>
            <div classname="csl-entry">
                <div class="csl-entry">Computer Security Division, Information Technology Laboratory. “AES Development -
                    Cryptographic Standards and Guidelines | CSRC | CSRC.” <i>CSRC | NIST</i>, 29 Dec. 2016,
                    https://csrc.nist.gov/Projects/Cryptographic-Standards-and-Guidelines/Archived-Crypto-Projects/AES-Development.
                </div>
            </div>
            <div classname="csl-entry">
                <div class="csl-entry">---. “Cryptographic Standards and Guidelines | CSRC | CSRC.” <i>CSRC | NIST</i>,
                    29 Dec.
                    2016, https://csrc.nist.gov/projects/cryptographic-standards-and-guidelines.</div>
            </div>
            <div classname="csl-entry">
                <div class="csl-entry">Dworkin, Morris J., et al. <i>Advanced Encryption Standard (AES)</i>. Nov. 2001.
                    <i>www.nist.gov</i>, https://www.nist.gov/publications/advanced-encryption-standard-aes.
                </div>
            </div>
            <div classname="csl-entry">
                <div class="csl-entry">Fakhoury, Hanni, and Dia Kayyali. <i>Know Your Rights</i>. Electronic Frontier
                    Foundation, Oct. 2014, https://www.eff.org/issues/know-your-rights.</div>
            </div>
            <div classname="csl-entry">
                <div class="csl-entry">nicole.keller@nist.gov. “Securing Data &amp; Devices.” <i>NIST</i>, 7 Feb. 2019,
                    https://www.nist.gov/itl/smallbusinesscyber/guidance-topic/securing-data-devices-1.</div>
            </div>
            <div classname="csl-entry">
                <div class="csl-entry"><i>Opinion 05/2014 on Anonymisation Techniques</i>. European Union: Data
                    Protection
                    Working Party, 10 Apr. 2014,
                    https://ec.europa.eu/justice/article-29/documentation/opinion-recommendation/files/2014/wp216_en.pdf.
                    Article 29: 0829/14/EN WP216.</div>
            </div>
            <div classname="csl-entry">
                <div class="csl-entry"><i>Understanding Encryption | CISA</i>.
                    https://www.cisa.gov/uscert/ncas/tips/ST04-019.
                    Accessed 10 Mar. 2022.</div>
            </div>
        </div>

    </article>

    <footer class="fixed_bar">
        <p>This project was created for Barnard's Privacy in a Networked World course by Sedona Thomas and Christian
            Revels-Robinson.</p>
    </footer>

</body>

<script src="../scripts/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/main.js"> </script>

</html>