<!doctype html>
<html lang="en">

<head <meta charset="utf-8">

    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Sedona Thomas">
    <meta name="description" content="">
    <meta name=”robots” content=”index,follow”>
    <meta name=”keywords” content=””>
    <link href="../static/main.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="./img/icon.ico">
    <title> Navagetur </title>
</head>

<body>

    <header class="fixed_bar">
        <nav role="navigation">
            <a class="nav_button" href="./">Home</a>
            <a class="nav_button" href="./education.html">Education</a>
            <a class="nav_button" href="./widgets.html">Widgets</a>
        </nav>
    </header>

    <article class="content">

        <section id="home" role="main">

            <h1>Educational Resources for Better Safety & Privacy</h1>

            <div class="section_box">

                <div class="group_box">
                    <h2>Online Harassment:</h2>
                    <ul class="blank_list">
                        <li><a href="https://onlineharassmentfieldmanual.pen.org">PEN's Online Harrassment Field
                                Manual</a>
                        </li>
                        <li><a href="https://www.stopbullying.gov/resources/laws/federal"> Federal Cyberbullying Laws
                            </a>
                        </li>
                        <li><a href="https://www.thecyberhelpline.com/guides/online-harassment"> CyberHelp's Online
                                Harrassment
                                Guide</a></li>
                    </ul>
                </div>

                <div class="group_box">
                    <h2>Password Protection:</h2>
                    <ul class="blank_list">
                        <li><a
                                href="https://us.norton.com/internetsecurity-how-to-password-managers-are-the-key-to-secure-passwords.html">
                                Norton Secure Passwords</a></li>
                        <li><a href="https://cybernews.com/best-password-managers/">CyberNews Password Managers
                                Ranked</a>
                        </li>

                    </ul>
                </div>

                <div class="group_box">
                    <h2>Data Protection:</h2>
                    <ul class="blank_list">
                        <li><a href="https://haveibeenpwned.com"> Have You Been Pwned? Data Breach Checker</a></li>
                        <li><a
                                href="https://www.theverge.com/22215571/factor-authentication-2fa-apple-microsoft-google-how-to">
                                Setting Up 2-Factor Authentification </a></li>

                    </ul>
                </div>

                <div class="group_box">
                    <h2>Minor Specific Online Safety:</h2>
                    <ul class="blank_list">
                        <li><a
                                href="https://www.csoonline.com/article/3605113/coppa-explained-how-this-law-protects-childrens-privacy.html">
                                COPPA Law Explained </a></li>
                        <li></li>
                    </ul>
                </div>

                <div class="group_box">
                    <h2>Surveillance Safety:</h2>
                    <ul class="blank_list">
                        <li> <a
                                href="https://www.mwl-law.com/wp-content/uploads/2018/02/RECORDING-CONVERSATIONS-CHART.pdf">
                                Recording Laws By State</a></li>
                        <li><a href="https://www.justia.com/50-state-surveys/recording-phone-calls-and-conversations/">
                                Conversation
                                Recording Laws by State </a></li>
                        <li><a
                                href=https://www.aclupa.org/en/know-your-rights/know-your-rights-when-taking-photos-and-making-video-and-audio-recordings>
                                ACLU's Know Your Rights when Recording </a></li>
                    </ul>
                </div>

            </div>

        </section>

    </article>

    <footer class="fixed_bar">
        <p>This project was created for Barnard's Privacy in a Networked World course by Sedona Thomas and Christian
            Revels-Robinson.</p>
    </footer>

</body>

<script src="../scripts/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/main.js"> </script>

</html>