<!doctype html>
<html lang="en">

<head <meta charset="utf-8">

    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Sedona Thomas">
    <meta name="description" content="">
    <meta name=”robots” content=”index,follow”>
    <meta name=”keywords” content=””>
    <link href="../static/main.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="./img/icon.ico">
    <title> Navagetur </title>
</head>

<body>

    <header class="fixed_bar">
        <nav role="navigation">
            <a class="nav_button" href="./">Home</a>
            <a class="nav_button" href="./education.html">Education</a>
            <a class="nav_button" href="./widgets.html">Widgets</a>
        </nav>
    </header>

    <article class="content">

        <section id="home" role="main">

            <h1>Educational Resources for Better Safety & Privacy</h1>

            <div class="section_box">

                <div class="group_box">

                    <h2>Online Privacy Protection</h2>
                    <p>Whether you use a computer, tablet, or mobile phone to go online, there are things you can do to
                        protect your privacy. Do you know who's collecting your data and what they're doing with it?
                        Would you know how to stop it if you could?
                    <ul>
                        <li>Why would people track you? What's really going on is savvy, modern marketing. Most of all
                            of
                            this data collection and tracking are for the purpose of personalizing advertisements so
                            companies spend less time marketing to mass audiences who are not interested in their
                            product
                            and more time targeting their marketing to specific people who they know are already
                            interested.
                            And why not? It potentially helps them save more and reduces the amount of irrelevant
                            advertising you see</li>
                        <li>What private data of mine is really being tracked? Purchasing and surfing activity, social
                            media, smart gadgets, online shopping and media usage, healthcare and fitness activity as
                            well
                            as other personal information (like the names of your pets, your income, where you dontae,
                            every
                            place you've ever held a job, where you travel to and from everyday)</li>
                        </p>

                        <h2>Online Harassment:</h2>
                        <p>
                            It is important to keep in mind that any behavior constituting stalking or harassment “in
                            real
                            life” does not become acceptable if it occurs online.
                        <ul>
                            <li>Cyberstalking: the use of the Internet, email, or other electronic communications to
                                stalk;
                                generally refers to a pattern of threatening or malicious behaviors, including
                                communicating
                                a
                                credible threat of harm.</li>
                            <li>Cyber harassment: differs from cyberstalking in that it is generally defined as not
                                involving a
                                credible threat. Cyber-harassment usually pertains to unconsented conduct, such as
                                threatening
                                or harassing email/instant messages, or to blog entries or websites dedicated solely to
                                tormenting an individual. Harassment does not include constitutionally protected
                                activity or
                                conduct that serves a legitimate purpose, i.e., free speech.</li>
                        </ul>
                        </p>
                        <ul class="blank_list">
                            <li><a href="https://onlineharassmentfieldmanual.pen.org">PEN's Online Harrassment Field
                                    Manual</a>
                            </li>
                            <li><a href="https://www.stopbullying.gov/resources/laws/federal"> Federal Cyberbullying
                                    Laws
                                </a>
                            </li>
                            <li><a href="https://www.thecyberhelpline.com/guides/online-harassment"> CyberHelp's Online
                                    Harrassment
                                    Guide</a></li>
                        </ul>
                </div>

                <div class="group_box">
                    <h2>Password Protection:</h2>
                    <ul class="blank_list">
                        <li><a
                                href="https://us.norton.com/internetsecurity-how-to-password-managers-are-the-key-to-secure-passwords.html">
                                Norton Secure Passwords</a></li>
                        <li><a href="https://cybernews.com/best-password-managers/">CyberNews Password Managers
                                Ranked</a>
                        </li>

                    </ul>
                </div>

                <div class="group_box">
                    <h2>Data Protection:</h2>
                    <ul class="blank_list">
                        <li><a href="https://haveibeenpwned.com"> Have You Been Pwned? Data Breach Checker</a></li>
                        <li><a
                                href="https://www.theverge.com/22215571/factor-authentication-2fa-apple-microsoft-google-how-to">
                                Setting Up 2-Factor Authentification </a></li>

                    </ul>
                </div>

                <div class="group_box">
                    <h2>Minor Specific Online Safety:</h2>
                    <p>Children's Online Privacy Protection Act of 1998: COPPA requires operators of commercial
                        websites, online services, and mobile apps to notify parents and obtain their consent before
                        collecting any personal information on children under the age of 13.</p>
                    <ul class="blank_list">
                        <li><a
                                href="https://www.csoonline.com/article/3605113/coppa-explained-how-this-law-protects-childrens-privacy.html">
                                COPPA Law Explained </a></li>
                        <li></li>
                    </ul>
                </div>

                <div class="group_box">
                    <h2>Surveillance Safety:</h2>
                    <ul class="blank_list">
                        <li> <a
                                href="https://www.mwl-law.com/wp-content/uploads/2018/02/RECORDING-CONVERSATIONS-CHART.pdf">
                                Recording Laws By State</a></li>
                        <li><a href="https://www.justia.com/50-state-surveys/recording-phone-calls-and-conversations/">
                                Conversation
                                Recording Laws by State </a></li>
                        <li><a
                                href=https://www.aclupa.org/en/know-your-rights/know-your-rights-when-taking-photos-and-making-video-and-audio-recordings>
                                ACLU's Know Your Rights when Recording </a></li>
                    </ul>
                </div>

            </div>

        </section>

    </article>

    <footer class="fixed_bar">
        <p>This project was created for Barnard's Privacy in a Networked World course by Sedona Thomas and Christian
            Revels-Robinson.</p>
    </footer>

</body>

<script src="../scripts/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/main.js"> </script>

</html>