<!doctype html>
<html lang="en">

<head <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Sedona Thomas">
    <meta name="description" content="">
    <meta name=”robots” content=”index,follow”>
    <meta name=”keywords” content=””>
    <link href="../static/main.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="./img/icon.ico">
    <title> Navegatur </title>
</head>

<body>

    <header class="fixed_bar">
        <nav role="navigation">
            <a class="nav_button" href="./">Home</a>
            <a class="nav_button" href="./education.html">Education</a>
            <a class="nav_button" href="./widgets.html">Widgets</a>
        </nav>
    </header>

    <article class="content">

        <section id="home" role="main">
            <h1>Welcome to Navagetur: The Online Privacy Toolkit!</h1>
            <p>
                Welcome to the platform created to empower digital citizens through best practices for maintaining your
                online presence. Toggle to our in-house widgets for real help on password uniqueness, familiarity with
                privacy laws and more educational information.
            </p>
        </section>

        <section class="links">
            <div class="pretty_button" role="button"><a href="./widgets.html">Widgets</a></div>
            <div class="pretty_button" role="button"><a href="./education.html">Education</a></div>
        </section>

        <!--
        <section>
            <h2>Head over to the <a href="./widgets.html">Widgets</a> page to test the interactive privacy widgets.</h2>
            <h2>Or head over to the <a href="./education.html">Education</a> page to learn more about staying safe
                online.</h2>
        </section>
        -->
        
    </article>

    <footer class="fixed_bar">
        <p>This project was created for Barnard's Privacy in a Networked World course by Sedona Thomas and Christian
            Revels-Robinson.</p>
    </footer>

</body>

<script src="../scripts/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/main.js"> </script>

</html>