<!doctype html>
<html lang="en">

<head <meta charset="utf-8">

    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Sedona Thomas">
    <meta name="description" content="">
    <meta name=”robots” content=”index,follow”>
    <meta name=”keywords” content=””>

    <link href="../static/main.css" rel="stylesheet" type="text/css">
    <link href="../static/nav.css" rel="stylesheet" type="text/css">
    <link href="../static/list.css" rel="stylesheet" type="text/css">
    <link href="../static/box.css" rel="stylesheet" type="text/css">
    <link href="../static/table.css" rel="stylesheet" type="text/css">
    <link href="../static/citations.css" rel="stylesheet" type="text/css">

    <link rel="icon" href="./img/icon.ico">
    <title> Navagetur </title>
</head>

<body>

    <header class="fixed_bar">
        <nav role="navigation">
            <a class="nav_button" href="./">Home</a>
            <a class="nav_button" href="./education.html">Education</a>
            <a class="nav_button" href="./widgets.html">Widgets</a>
        </nav>
    </header>

    <article class="content">

        <section role="main">

            <h1>Check privacy laws in your zipcode</h1>

            <form method="POST" action="/enter_zipcode">
                <label id="zipcode">
                    Enter a zipcode to check: <input name="zipcode" type="text">
                </label>
                <input type="submit" value="Check Laws">
            </form>

            <p>Zipcode: {{zipcode}}</p>
            <p>Recording Laws: {{record}}</p>
            <p>Data Privacy Laws: {{data}}</p>

        </section>

        <hr>

        <section class="education">

            <h1>Why is this widget important?</h1>
            <p>
                This widget is important because everyone should know which recording laws apply to them so they are
                empowered to maintain their own privacy. What constitutes “consent” is also an issue of contention when
                you are considering recording a conversation. In some states, “consent” is given if the parties to the
                call are clearly notified that the conversation will be recorded, and they engage in the conversation
                anyway. Their consent is implied.The big issue when it comes to recording someone is whether the
                jurisdiction you are in requires that you get the consent of the person or persons being recorded. This
                begs the question of which jurisdiction governs when you are talking to a person in another state. Some
                states require the consent of all parties to the conversation, while others require only the consent of
                one party. It is not always clear whether federal or state law applies, and if state law applies which
                of the two (or more) relevant state laws controls. A good rule of thumb is that the law of the
                jurisdiction in which the recording device is located will apply. If the consent of one party is
                required, you can record a conversation if you're a party to the conversation. If you're not a party to
                the conversation, you can record a conversation or phone call provided one party consents to it after
                having full knowledge and notice that the conversation will be recorded. <b>Eleven (11) states</b>
                require the consent of everybody involved in a conversation or phone call before the conversation can be
                recorded; this is called all-party consent.
            </p>

            <h1>What do you learn from this widget?</h1>
            <p>
                We want you to learn the differences between eavesdropping,wiretapping and intercepted communication.
                Electronic “eavesdropping” means to overhear, record, amplify, or transmit any part of the private
                communication of others without the consent of at least one of the persons engaged in the communication.
                It may involve the placement of a "bug" inside private premises to secretly record conversations, or the
                use of a "wired" government informant to record conversations that occur within the informant's earshot.
                "Wiretapping" involves the use of covert means to intercept, monitor, and record telephone conversations
                of individuals. It is an unauthorized physical connection with a communication system at a point between
                the sender and receiver of a message. “Intercepted communication” generally means the aural acquisition
                of the contents of any wire, electronic, or oral communication through the use of any electronic,
                mechanical, or other device.
            </p>

        </section>

    </article>

    <footer class="fixed_bar">
        <p>This project was created for Barnard's Privacy in a Networked World course by Sedona Thomas and Christian
            Revels-Robinson.</p>
    </footer>

</body>

<script src="../scripts/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/main.js"> </script>

</html>