<!doctype html>
<html lang="en">

<head <meta charset="utf-8">

    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Sedona Thomas">
    <meta name="description" content="">
    <meta name=”robots” content=”index,follow”>
    <meta name=”keywords” content=””>
    <link href="../static/main.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="./img/icon.ico">
    <title> Navagetur </title>
</head>

<body>

    <header class="fixed_bar">
        <nav role="navigation">
            <a class="nav_button" href="./">Home</a>
            <a class="nav_button" href="./education.html">Education</a>
            <a class="nav_button" href="./widgets.html">Widgets</a>
        </nav>
    </header>

    <article class="content">

        <section class="widget" role="main">

            <h1>Password Safety</h1>

            <div id="password_widget">
                <form method="POST" action="/enter_password">
                    <label id="password">
                        Enter a password to check: <input name="password" type="text" size="20">
                    </label>
                    <input type="submit" value="Submit">
                </form>
                <p>Time to Brute Force Attack: {{time_to_crack}}</p>

                <hr>

                <p>Generated Password: {{random_password}}
                <form method="POST" action="/generate_password">
                    <input type="submit" value="Get Random Password">
                </form>
                </p>
            </div>

            <hr>

            <h2>How does this widget work?</h2>

            <p>
                This widget takes in a password and returns an estimate of how long it would take to brute force crack
                this password on the current device.
            </p>

            <h2>Warning</h2>

            <p>
                If you are using this application on a website, do not enter your real passwords. Instead, go to the
                github repository and download the application to use on your personal device. When run locally, all
                processing of passwords is done on device and passwords are never stored.
            </p>

        </section>

        <hr>

        <!--
        <section class="know_your_rights">
            <h2>Know Your Rights</h2>

            <p></p>

            <p>More information: <a href="https://www.eff.org/issues/know-your-rights">Electronic Frontier Foundation
                    Know Your Rights</a></p>
        </section>
        -->

        <section class="education">

            <h2>Why is this widget important?</h2>
            <p>
                Social media and other forms have allowed users to share more of themselves online but this should be
                carefully approached as you do not want to give too much of your information away, leaving you
                susceptible to online attacks. A complex password makes it prohibitively difficult for common hackers to
                break into a machine and will force them to look for other targets thus you must ensure your passwords
                are strong. The more difficult the password, the lower the likelihood that one's computer will fall
                victim to unwanted intrusions. Passwords must be long and complex. Passwords should contain at least ten
                characters and have a combination of characters such as commas, percent signs, and parentheses, as well
                as upper-case and lower-case letters and numbers.
            </p>

            <h2>What do you learn from this widget?</h2>
            <p>
                The goal is to learn just how easy it truly is to crack your password. This tool is to empower you to
                create better passwords. We also want you to learn how to share information on the internet without
                compromising your own safety. We want you to learn that Strong passwords shouldn’t include references to
                personal information such as names, birthdays, addresses, or phone numbers. Secure passwords include a
                variety of random characters, numbers, and letters to make the password more complex. Reusing the same
                password for different accounts puts you at risk of credential stuffing attacks frequently used by
                cybercriminals. Lastly, Hackers use malicious programs that can process every word found in a dictionary
                to crack passwords. Stay away from using proper nouns and other standalone dictionary words that could
                lead to an unsecure password.
            </p>

            <h2>Key Terms</h2>
            <p>
            <ul>
                <li>Encryption: Encryption is a means of securing digital data using one or more mathematical
                    techniques, along with a password or "key" used to decrypt the information</li>
                <li>Decrypt: A text that has been decoded</li>
                <li>Cryptography: Cryptography is a method of protecting information and communications through the use
                    of codes, so that only those for whom the information is intended can read and process it</li>
                <li>Cybercriminals vs Hackers: ​​Cybercriminals hack and infiltrate computer systems with malicious
                    intent, while hackers only seek to find new and innovative ways to use a system, be it for good or
                    bad
            </ul>
            </p>

            <!--
            <h2>Why do secure passwords matter?</h2>

            <p>
                Your password is the biggest line of defense against your data being accessed by hackers and
                cybercriminals. The more secure your passwords are, the more secure your data is.
            </p>

            <h2>How are accounts hacked?</h2>

            <p></p>

            <h2>What are rainbow tables?</h2>

            <p></p>
            -->
        </section>

        <hr>

        <section class="citations">
            <cite>Ciesla, R. <i>Encryption for Organizations and Individuals: Basics of Contemporary and Quantum
                    Cryptography</i> 297 (APress, 2020). <a
                    href="https://link.springer.com/book/10.1007/978-1-4842-6056-2">
                    https://link.springer.com/book/10.1007/978-1-4842-6056-2</a>.
            </cite>

            <cite>Fakhoury, Hanni, and Dia Kayyali. <i>Know Your Rights</i>. Electronic Frontier Foundation, Oct. 2014,
                <a href="https://www.eff.org/issues/know-your-rights">https://www.eff.org/issues/know-your-rights</a>.
            </cite>

            <cite>Franchi, Enrico & Poggi, Agostino & Tomaiuolo, Michele. (2017). <i>Information and Password Attacks
                    on Social Networks:: An Argument for Cryptography</i>. Journal of Information Technology Research.
                8. 25-42. 10.4018/JITR.2015010103. <a
                    href="https://www.researchgate.net/publication/276461922_Information_and_Password_Attacks_on_Social_Networks_An_Argument_for_Cryptography">
                    https://www.researchgate.net/publication/276461922_Information_and_Password_Attacks_on_Social_Networks_An_Argument_for_Cryptography</a>
            </cite>

        </section>

    </article>

    <footer class="fixed_bar">
        <p>This project was created for Barnard's Privacy in a Networked World course by Sedona Thomas and Christian
            Revels-Robinson.</p>
    </footer>

</body>

<script src="../scripts/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/main.js"> </script>

</html>