<!doctype html>
<html lang="en">

<head <meta charset="utf-8">

    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Sedona Thomas">
    <meta name="description" content="">
    <meta name=”robots” content=”index,follow”>
    <meta name=”keywords” content=””>
    <link href="../static/main.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="./img/icon.ico">
    <title> Navagetur </title>
</head>

<body>

    <header class="fixed_bar">
        <nav role="navigation">
            <a class="nav_button" href="./">Home</a>
            <a class="nav_button" href="./education.html">Education</a>
            <a class="nav_button" href="./widgets.html">Widgets</a>
        </nav>
    </header>

    <article class="content">

        <section class="widget" role="main">

            <h1>Personal Uniqueness Widget</h1>

            <div id="uniqueness_widget">
                <div class="section_box">
                    <form method="POST" action="/enter_characteristics">

                        <p>
                            <label id="zipcode">
                                Zipcode: <input name="zipcode" type="number" min="0" step="1" placeholder="zipcode"
                                    required>
                            </label>
                        </p>

                        <p>
                            <label id="gender">
                                Gender: <select id="gender_menu" name="gender">
                                    <option value="choose" selected>Choose a Gender Identity</option>
                                    <option value="woman">Woman</option>
                                    <option value="nonbinary">Non-Binary</option>
                                    <option value="man">Man</option>
                                    <option value="other">Other</option>
                                </select>
                            </label>
                        </p>

                        <p>
                            <label id="income">
                                Income: <input name="income" type="number" min="0" step="1" placeholder="yearly income">
                            </label>
                        </p>

                        <p>
                            <label id="submit">
                                Submit<input type="submit" value="Submit">
                            </label>
                        </p>

                    </form>
                </div>

                <section id="explanation">
                    {{uniqueness | safe}}
                </section>

            </div>

        </section>

        <hr>

        <section class="education">

            <h2>Why is this widget important?</h2>
            <p>
                Rich medical, behavioral, and socio-demographic data are key to modern data-driven research, their
                collection and use raise legitimate privacy concerns. Digital citizenship whether that be in the form of
                a LinkedIn or Facebook account has allowed more information than ever before about individuals to be
                readily available online. Re Identification is a term used to describe the process of using existing
                information that may not contain specific names or addresses to accurately identify unique individuals.
                Reidentification normally happens through the merging of datasets and using unique attributes to match
                individuals up. The concern becomes how private is information even when it is anonymized in a data set
                and the answer is challenging. Even heavily sampled anonymized datasets are unlikely to satisfy the
                modern standards for anonymization set forth by GDPR and seriously challenge the technical and legal
                adequacy of the de-identification release-and-forget model.
            </p>

            <h2>What do you learn from this widget?</h2>
            <p>
                It can be difficult for laypeople to understand how easy it can be to re-identify their data. This
                widget contextualizes how easy it is to randomly guess a person based on their inputted characteristics
                in comparison to how easy it would be to pick out a person from everyone in the United States. This
                widget determines how unique someone is by asking them for a list of possible demographic
                characteristics and comparing that person to U.S. Census data.
            </p>

        </section>

    </article>

    <footer class="fixed_bar">
        <p>This project was created for Barnard's Privacy in a Networked World course by Sedona Thomas and Christian
            Revels-Robinson.</p>
    </footer>

</body>

<script src="../scripts/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/main.js"> </script>

</html>