<!doctype html>
<html lang="en">

<head <meta charset="utf-8">

    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Sedona Thomas">
    <meta name="description" content="">
    <meta name=”robots” content=”index,follow”>
    <meta name=”keywords” content=””>
    <link href="../static/main.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="./img/icon.ico">
    <title> Navagetur </title>
</head>

<body>

    <header class="fixed_bar">
        <nav role="navigation">
            <a class="nav_button" href="./">Home</a>
            <a class="nav_button" href="./education.html">Education</a>
            <a class="nav_button" href="./widgets.html">Widgets</a>
        </nav>
    </header>

    <article class="content">

        <section role="main">
            <h1>Keep Track of Your Account Safety Precautions</h1>
            <p>Set your password below.</p>
            <p>Setting a new password will delete all current data.</p>
            <p>Return to <a href="./account_security.html">Account Security Widget</a> if you already have a password.
            </p>
        </section>

        <section id="account_form">
            <div class="section_box">
                <form method="POST" action="/set_password">
                    <p>
                        <label id="password">
                            Enter a password: <input name="password" type="text" size="20">
                        </label>
                    </p>
                    <input type="submit" value="Password">
                </form>
            </div>
        </section>

    </article>

    <footer class="fixed_bar">
        <p>This project was created for Barnard's Privacy in a Networked World course by Sedona Thomas and Christian
            Revels-Robinson.</p>
    </footer>

</body>

<script src="../scripts/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/main.js"> </script>

</html>