<!doctype html>
<html lang="en">

<head <meta charset="utf-8">

    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Author" content="Sedona Thomas">
    <meta name="description" content="">
    <meta name=”robots” content=”index,follow”>
    <meta name=”keywords” content=””>

    <link href="../styles/main.css" rel="stylesheet" type="text/css">
    <link href="../styles/nav.css" rel="stylesheet" type="text/css">
    <link href="../styles/list.css" rel="stylesheet" type="text/css">
    <link href="../styles/box.css" rel="stylesheet" type="text/css">

    <link rel="icon" href="./img/icon.ico">
    <title> Privaugarder </title>
</head>

<body>

    <header>
        <nav role="navigation">
            <a class="nav_button" href="./index.html">Home</a>
            <a class="nav_button" href="./education.html">Education</a>
            <a class="nav_button" href="./widgets.html">Widgets</a>
        </nav>
    </header>

    <div class="container">

        <div id="home" role="main">
            <h1>Navagetur</h1>
            <p>Welcome to Navagetur: The Online Privacy Toolkit!</p>
            <p></p>
        </div>

        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>


    </div>

</body>

<script src="../scripts/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/account_security.js"></script>
<script type="text/javascript" src="../scripts/main.js"> </script>

</html>