/*
 * @author Sedona Thomas
 */

@import "box.css";
@import "citations.css";
@import "list.css";
@import "nav.css";
@import "table.css";
@import "widgets.css";

body {
  background-color: #efefef;
  margin: 0%;
  border: 0%;
  padding: 0%;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  float: left;
  font-size: 17px;
  color: #000000;
  width: 100%;
}

h1 { font-size: 40px; }
h2 { font-size: 35px; }
h3 { font-size: 25px; }

header,
footer {
  display: block;
  height: 5%;
  font-size: 18px;
}

header {
  top: 0%;
}

footer {
  top: 93.5%;
}

footer p {
  border-radius: 15px;
  padding: 0.5% 2%;
  margin: 0.5% 1%;
  background-color: #FFFFFF;
}

.fixed_bar {
  background-color: #ADD8E6;
  position: fixed;
  width: 99%;
  padding: 0.5%;
}

.content {
  top: 5%;
  bottom: 95%;
  width: 95% 92% 95% 92%;
  overflow-y: hidden;
  padding: 3%;
}

.center {
  text-align: center;
}

hr {
  background-color: #00008b;
  display: block;
  height: 1px;
  border: 0;
  border-top: 5px solid #00008b;
  margin: 1em 0;
  padding: 0;
}

.section_box {
  border: 5px solid #ADD8E6;
  background-color: none;
  border-radius: 15px;
  padding: 15px 32px;
}

.group_box {
  border: 5px solid #00008b;
  background-color: none;
  border-radius: 15px;
  padding: 5%;
  margin: 2%;
  display: inline-flex;
  width: auto;
  height: auto;
}

.pretty_button {
  text-align: center;
  border: 1px solid #000000;
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2% 8%;
  cursor: pointer;
}

.pretty_button a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #000000;
  text-decoration: none;
}
